<form class="form-group">
    <h2>Register</h2>
    <div class="on-dark">
        <label for="username">Username:</label>
        <input type="text" placeholder="Steven" class="form-control" name="username">
    </div>

    <div class="on-dark">
        <label for="email">Email:</label>
        <input type="text" placeholder="Steven@abv.bg" class="form-control" name="email">
    </div>

    <div class="on-dark">
        <label for="password">Password:</label>
        <input type="password" placeholder="********" class="form-control" name="password">
    </div>

    <div class="on-dark">
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" placeholder="********" class="form-control" name="rePass">
    </div>

    <button class="btn" type="submit">Register</button>
</form>
